/* Estilos gerais para o body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: #f0f0f0;
  }
  
  /* Conteúdo principal */
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Caixa de login */
  .login-container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 0px; /* Cantos retos como na tabela */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra discreta igual da tabela */
    max-width: 400px;
    width: 100%;
    text-align: center;
    border: 1px solid #ddd; /* Borda sutil para dar efeito de contorno */
}

  
  /* Estilos dos campos de entrada (inputs) */
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    font-size: 14px;
    color: #333;
    font-weight: bold;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  /* Estilo do botão de envio */
  #recover-btn2 {
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: red;
    transition: background-color 0.3s ease;

  }
  #botaoentrar {
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: red;
    transition: background-color 0.3s ease;
    }
  
  
  /* Efeito hover no botão */
  #recover-btn2:hover {
    background-color: #e60000;
  }
  
  /* Rodapé */
  .footer {
    margin-top: 20px;
  }
  
  .footer a {
    color: #005a9c;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  /* Logo fixo no canto inferior esquerdo */
  .bottom-left-logo {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10;
  }
  
  .bottom-left-logo img {
    width: 330px;
    height: auto;
    object-fit: contain;
  }
  
  /* Cabeçalho superior */
  .top-header {
    position: fixed;
    top: 8px;
    right: 45px;
    display: flex;
    align-items: center;
    gap: 70px;
    z-index: 100;
  }
  
  .top-header img {
    height: 75px;
    object-fit: contain;
  }
  
  /* Linha divisória do topo */
  .top-divider {
    position: fixed;
    top: 93px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    z-index: 9;
  }

  .error-message {
    background-color: #ffebee;
    color: #c62828;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ef9a9a;
    border-radius: 4px;
    text-align: center;
  }
